// $color-pack = false
@import '../../node_modules/vuetify/src/stylus/app';
@import './_loading';

.navigation div.toolbar__content {
  margin-bottom: 10px;
}

.hide-navigation .toolbar__extension {
  display: none
}

.bus-table {
  height: 65vh;
  overflow-y: scroll;
}

.tabs__bar .tabs__wrapper {
  overflow: hidden;
}

a {
  color: $primary
  text-decoration: none
}

.fade-enter-active, .fade-leave-active {
  transition: .4s all ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(50px) scale(.9);
}
