// $color-pack = false
@import '../../node_modules/vuetify/src/stylus/app';
@import './_loading';

.navigation div.toolbar__content {
  margin-bottom: 10px;
}

.bus-table {
  height: 65vh;
  overflow-y: scroll;
}

.tabs__bar .tabs__wrapper {
  overflow: hidden;
}

a {
  color: $theme.primary
  text-decoration: none
}
