// $color-pack = false
@import '../../node_modules/vuetify/src/stylus/app';

.navigation div.toolbar__content {
  margin-bottom: 17px;
}

.tabs__bar .tabs__wrapper {
  overflow: hidden;
}

.bus-table {
  height: 65vh;
  overflow-y: scroll;
}

.bottom-nav--cutom{
  left: 0;
}

tr {
  border-bottom: 1px solid #eee;
}

a {
  color: $theme.primary
  text-decoration: none
}
